<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokemon Collector</title>
</head>
<body>
<nav>
    <ul class="navbar">
        <% if (user) { %>

        <li>Welcome <%= user.firstName %></li>   
        <li><a href="/">Home Page</a></li>
        <li><a href="/savedCollection">My Saved Collections</a></li>
        <% } else { %>
        <li><a href="/signUp">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <% }  %>
        <form action="/pokemonList" method="GET">
            <button>ICE 8 Display All Pokemon</button>
            </form>
    </ul>
</nav>
